@font-face {
    font-family: big-shoulders-display;
    src: url('fonts/BigShouldersDisplay-VariableFont_wght.ttf');
}

@font-face {
    font-family: lexend-deca;
    src: url('fonts/LexendDeca-VariableFont_wght.ttf');
}
:root {
    --main-bright-orange: hsl(31, 77%, 52%);
    --main-dark-cyan: hsl(184, 100%, 22%);
    --main-very-dark-cyan: hsl(179, 100%, 13%);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    font-family: big-shoulders-display, serif;
    font-weight: 700;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    text-transform: uppercase;
}

p {
    color: white;
    margin-bottom: 30px;
    margin-right: 30px;
    padding-bottom: 50px;
    padding-right: 25px;
    line-height: 2;
    opacity: 80%;
}

p, button {
    font-family: lexend-deca, serif;
    font-weight: 400;
}

button {
    background-color: white;
    border: none;
    border-radius: 35px;
    height: 25px;
    width: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    max-height: 900px;
    padding: 30px;
    height: 500px;
    width: 325px;
}

img {
    width : 25%; 
}

.card-orange {
    background-color: var(--main-bright-orange);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    & button {
        color: var(--main-bright-orange);
    }
}

.card-dark-cyan {
    background-color: var(--main-dark-cyan);
    & button {
        color: var(--main-dark-cyan);
    }
}

.card-very-dark-cyan {
    background-color: var(--main-very-dark-cyan);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    & button {
        color: var(--main-very-dark-cyan);
    }
}

@media only screen and (max-width: 375px) {
    body {
        flex-direction: column;
    }
}
